*.iml
.idea
.settings
.classpath
.project
.gradle
.DS_Store
bin
target
build
node_modules
.module-cache

# Package Files #
*.class
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
